fastapi
uvicorn
pypdf
python-dotenv
spacy
torch
transformers
numpy
chromadb
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
groq
openai-whisper
faster-whisper
fpdf2
yfinance